@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#app {
    font-family: 'Poppins', sans-serif;
}
html {
   scroll-behavior: smooth;
}
/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
   * This injects Tailwind's component classes and any component classes
   * registered by plugins.
   */
@tailwind components;

/**
   * This injects Tailwind's utility classes and any utility classes registered
   * by plugins.
   */
@tailwind utilities;

/**
   * Use this directive to control where Tailwind injects the hover, focus,
   * responsive, dark mode, and other variants of each class.
   *
   * If omitted, Tailwind will append these classes to the very end of
   * your stylesheet by default.
   */
@tailwind variants;

.my-gradient {
  @apply bg-gradient-to-r from-indigo-600 via-pink-400 to-pink-600;
}

.my-button {
  @apply font-bold py-3 px-4 rounded-2xl w-full;
}

.my-button--primary {
   @apply hover:bg-gray-600 bg-gray-700 text-white;
}

.my-button--secondary {
   @apply hover:bg-gray-100 bg-gray-200 text-gray-700;
}

.my-shadow{
   box-shadow: 0 0 15px 0.5px lightgray;
}

.my-dialog{
   background-color: rgba(0, 0, 0, 0.2);
}

.my-input{
   @apply block text-gray-800 bg-gray-50 px-4 py-2 mt-3 rounded-2xl border-2 border-gray-300 focus:outline-none focus:border-gray-700 duration-200 ease-in;
}